body {
    margin: 0;
  }

  .project {
    max-width: 100%;
    height: auto;
  }

  header {
    max-width: 100%;
    height: auto;
  }

  .headerBottomCont {
    width: 100%;
    height: auto;
  }

  .card-container {

    width: 100%;
    height: auto;
  }

  .body-1 {
    margin-top: 5%;
    width: 100%;
    height: auto;
    display: flex;
  }

  .cardX {
    margin-top: 5%;
    width: 100%;
    height: auto;
  }

  .bestOf {
    width: 100%;
    height: auto;
  }

  .Footer-index{
    margin-top: 5%;
  }
 

     