h3 {
    font-size: 24px; /* Başlık font boyutunu ayarlayın */
    font-family: Arial, sans-serif; /* Başlık font ailesini ayarlayın */
    font-weight: bold; /* Başlık font ağırlığını ayarlayın */
    color: black; /* Başlık rengini ayarlayın */
    text-align: center; /* Başlığı merkezleme */
    margin-bottom: 10px; /* Başlık altındaki boşluk */
}

.body-1 .body-1-img {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .body-1 .body-1-img img {
    max-width: 100%;
    height: auto;
  }

  .body-1 .body-1-Subject {
    width: 70%;
    padding: 30px;
    background-color: #c6f4fa;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .body-1 .body-1-Subject ul {
    list-style: none;
  }

  .body-1 .body-1-Subject ul li p {
    font-size: 22px;
  }