.card-container-body {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 10px;
  }

  .card {
    
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card-container-body img {
    width: 100px;
    height: 100px;
    
  }

  .card-container-body li {
    width: 300px;
    height: auto;
    padding: 10px;
    list-style: none;
    text-align: center;
  }