.imgHoliday1 {
  max-width: 100%;
  height: 500px;
  position: relative; /* Pozisyonu belirle */
}

.imgHoliday1 img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; /* Resmi arka plana yerleştir */
  background-color: rgba(255, 255, 255, 0.2);
}

.imgHoliday1-content {
  width: 100%;
  height: auto;
  margin-bottom: 10%;
  position: relative;
}

/* .imgHoliday1-content .horizontal-line {
  width: 100%; 
  height: 2px;
  background-color: black; 
  position: absolute; 
  bottom: 0;
  left: 0; 
}

.imgHoliday1-content .imgHoliday1-menuLEFT,
.imgHoliday1-content .imgHoliday1-menuRIGHT {
    position: relative;
} */

.imgHoliday1-content .imgHoliday1-menuLEFT {
  margin-top: 4%;
  width: 50%;
  float: left;
  border-bottom: 2px black;
}

.imgHoliday1-content .imgHoliday1-menuLEFT h3 {
  padding-right: 40%;
  color: black;
}

.imgHoliday1-content .imgHoliday1-menuRIGHT {
  margin-top: 4%;
  width: 50%;
  float: right;
}

.imgHoliday1-content .imgHoliday1-menuRIGHT ul {
  list-style: none;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-right: 20%;
}

.imgHoliday1-content .imgHoliday1-menuRIGHT ul li {
  margin-right: 30%;
}

.imgHoliday1-content .imgHoliday1-menuRIGHT ul li a {
  color: black; /* Link rengini beyaz yap */
  text-decoration: none; /* Alt çizgiyi kaldır */
  display: inline-block; /* Metinleri yan yana yerleştir */
  white-space: nowrap; /* Metinlerin yeni satıra geçmesini engelle */
}

.imgHoliday1-overlay {
  position: relative;
  top: 40%;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white; /* Metin rengini beyaz yapar */
}

